/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial','Sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix: {zoom:1;}
.clearfix:after{
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

/* ------------------------------------ */
/* Resuable Components */
/* ------------------------------------ */
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0px;
}
/* --------headings------- */
 h1,
 h2,
 h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-bottom: 20px;
    margin-top: 0px;
    width: 1140px;
    font-size: 240%;
    word-spacing: 4px;
    color: #fff;    
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2::after{
    display: block;
    width: 100px;
    background-color: #e67e22;
    content: " "; 
    margin: 30px auto 0px auto;
    height: 2px;
}

h3{
    font-size: 110%;
    margin-bottom: 10px;
}
/* --------paragraphs------- */
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    line-height: 145%;
    font-size: 90%;
}

/* --------icons------- */
.icon-big{
    font-size: 400%;
    color: #e67e22;
    margin-bottom: 10px;
}
.icon-small {
    display: inline-block;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* --------links------- */
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* --------buttons------- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.35s, border 0.35s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
    
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #cf6d17;
    color: #fff;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('./img/hero.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    height: 100px;
    float: left;
    margin-top: 40px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover{
    border-bottom: 2px solid #e67e22;
}

/* ------------------------------------ */
/* FEATURES */
/* ------------------------------------ */
.section-features .long-copy{
    margin-bottom :30px;
}


/* ------------------------------------ */
/* MEALS */
/* ------------------------------------ */
.section-meals {
    padding: 0px;
}
.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li {
    display: block;
    width: 25%;
    float: left;
}
.meal-photo {
    background-color: #000;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}
.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/* ------------------------------------ */
/* HOW IT WORKS */
/* ------------------------------------ */

.section-steps {
    background-color: #f4f4f4;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen {
     width: 40%;
}
.work-steps {
    margin-bottom: 50px;
}
.work-steps:last-of-type {
    margin-bottom: 80px;
}
.work-steps div {
    display: inline-block;
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app:link,
.btn-app:visited {
    border: none;
}

.btn-app img {
    width: auto;
    height: 50px;
    margin-right: 10px;
}
/* ------------------------------------ */
/* CITIES */
/* ------------------------------------ */
.box img{
    height: auto;
    width: 100%;
    margin-bottom: 30px;
}
.city-features {
    margin-bottom: 5px;
}

/* ------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------ */
.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('./img/back-customers.jpg');
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote {
    font-style: italic;
    line-height: 145%;
    padding: 2%;
    position: relative;
    margin-top: 40px;
}
blockquote::before {
    content: "\201c";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite {
    margin-top: 25px;
    font-size: 90%;
    display: block;
}
cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}